// pour modifier les couleurs bootstrap
// $blue: green;
// ou $blue: #223333;

@import "~bootstrap/scss/bootstrap";

// HOMEPAGE

body {
    background-image: url(https://us.123rf.com/450wm/nokfreelance/nokfreelance1705/nokfreelance170500366/79626216-abstrait-d%C3%A9grad%C3%A9-gris-arri%C3%A8re-plan-gris-studio-studio-ton-sombre-pour-arri%C3%A8re-plan-ou-papier-peint-usag%C3%A9-.jpg?ver=6);
    background-repeat: no-repeat;
    background-size: cover;
}

// navbar
.navbar {
    background-color: #db892c;
}

.navbar a {
    color: black;
    font-size: 20px;
}

#navbar-brand {
    font-size: 30px;  
}

// react welcome message
#welcome {
    color: lightgrey;
}

// users cards
.card {
    justify-content: space-between;
}

.races{
    justify-content: space-around; 
}

////////////////////////////

// USER PAGE

.race-card {
    max-width: 30%;
    margin: 25px;
}
