{% extends 'base.html.twig' %}

{% block title %}Nouvelle course{% endblock %}

{% block body %}
    <h1>Complétez les détails de votre course</h1>

    {{ include('race/_form.html.twig') }}
    
    <a href="{{ path('user_show', {'id': user.id}) }}">Retour à la liste de vos courses</a>
{% endblock %}
