{% extends 'base.html.twig' %}

{% block title %}Nouvelle course{% endblock %}

{% block body %}
    <h1>Complétez les détails de votre course</h1>

    {{ include('race/_form.html.twig') }}

    <a href="{{ path('race_index') }}">Retour à la liste des courses</a>
{% endblock %}
